/* escolhi esse nome porque eu não gosto de coisas genericas, e detesto ironia tabem*/
#cabecalho{
    width: 100%;
    height: 100px;
    
}

#conteudo{
    width: 100%;
    height: 530px;
    
}
#conteudo-esquerda{
    width: 60%;
    height: 530px;
   
    float: left;
}
#sobreeu{
    text-align: left;
    font-family: 'Times New Roman', Helvetica, serif;
    font-size: large;
}

#conteudo-direita{
    width: 40%;
    height: 530px;
    
    float: left;
}
#ft{
    width: 100%;

}

#rodape{
    width: 100%;
    height: 101px;
    
}