/* escolhi esse nome porque eu não gosto de coisas genericas, e detesto ironia tabem*/
#cabecalho{
    width: 100%;
    height: 100px;
    
}

#conteudo{
    width: 100%;
   
    
}
#conteudo-direita{
    width: 50%;
    
    float:right
    
    
}
#ft{
    width: 100%;

}

#conteudo-esquerda{
    width: 50%;
   
    

    
}
#sobreeu{
    text-align: left;
    font-family: 'Times New Roman', Helvetica, serif;
    font-size:  20px;
}



#rodape{
    width: 100%;
    height: 101px;
    
}